services:
  - type: web
    name: traebackend
    env: python
    rootDirectory: .
    buildCommand: |
      # Установка зависимостей Python
      pip install -r requirements.txt
      pip install "fastapi>=0.109.0"

      # Установка зависимостей Node.js
      cd frontend && npm install && npm run build

      # Копирование фронтенд-билда в папку бэкенда
      cp -r frontend/build App/static
    startCommand: |
      # Запуск FastAPI с поддержкой статических файлов
      cd App && uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: SECRET_KEY
        fromEnvVar: SECRET_KEY
      - key: TEACHER_PASSWORD_HASH
        fromEnvVar: TEACHER_PASSWORD_HASH
      - key: STUDENT_PASSWORD_HASH
        fromEnvVar: STUDENT_PASSWORD_HASH
    healthCheckPath: /
